.progressBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #a6a6a6;
  border-radius: 100px;
}

.line {
  width: 50%;
  height: 8px;
  background-color: #a6a6a6;
}

.purpleBg {
  background-color: #5558fa;
}
