.label {
  display: block;
  margin-top: 24px;
  color: #333333;
  font-family: 'TT Travels Medium';
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #00000029;
  border-radius: 4px;
  background-color: #0000000a;
  font-family: 'TT Travels';
  margin-top: 8px;
}

whiteBg {
  background-color: white;
}

.input:focus {
  outline: none;
}
