.label {
  display: block;
  color: #333333;
  font-family: 'TT Travels Medium';
  font-size: 14px;
}

.textArea {
  padding: 12px 0 52px 12px;
  margin-top: 20px;
  color: #333333;
  font-family: 'TT Travels';
  border: 1px solid #0000007a;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.textArea::placeholder {
  color: #0000007a;
}

.textAreaWrapper {
  padding-bottom: 64px;
}
