.onboarding {
  padding: 62px 0px 80px 0px;
  max-width: 680px;
  margin: 0 auto;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.step {
  text-align: center;
}

.bullet {
  width: 16px;
  height: 16px;
  background-color: #a6a6a6;
  border-radius: 100px;
  position: relative;
}

.step:last-child .bullet::before,
.step:last-child .bullet::after {
  display: none;
}

.bullet::before,
.bullet::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 8px;
  top: 4px;
  left: 15px;
  background-color: #00000014;
  border-radius: 8px;
}

.activeBullet {
  width: 16px;
  height: 16px;
  background-color: #5558fa;
  border-radius: 100px;
  position: relative;
}

.activeBullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3px; /* Диаметр круга */
  height: 3px; /* Диаметр круга */
  background-color: white; /* Цвет круга */
  border-radius: 50%;
}
.step:last-child .completedBullet::before,
.step:last-child .completedBullet::after {
  display: none;
}

.activeBullet::before,
.activeBullet::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 8px;
  top: 4px;
  left: 15px;
  background-color: #00000014;
  border-radius: 8px;
}

.activeBullet::after {
  background-color: #5558fa;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.completedBullet {
  width: 16px;
  height: 16px;
  background-color: #5558fa;
  border-radius: 100px;
  position: relative;
}

.completedBullet::before {
  content: url("../../assets/icons/Vector.png");
  position: absolute;
  top: 20%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 8px;
}

.step:last-child .completedBullet::before,
.step:last-child .completedBullet::after {
  display: none;
}

.completedBullet::before,
.completedBullet::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 8px;
  top: 4px;
  left: 15px;
  background-color: #00000014;
  border-radius: 8px;
}

.completedBullet::after {
  background-color: #5558fa;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
