.signInput {
  max-width: 400px;
  padding-top: 8px;
}

.signInput input {
  width: 100%;
  padding: 12px;
  border: 1px solid #00000029;
  border-radius: 4px;
  background-color: #0000000A;
  font-family: "TT Travels";
}